
.tab-body {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

@media all and (max-width: 768px) {
    .tab-body {
        font-size:70%;
    }
}

body {
    background-image: url("img/noise.jpg");
    min-height: 2000px;
}

#overlay {
    background: #e1e1e1;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

#pull-right {
    text-align: right;
    right: 0px;
}

