
.timeline-div {
    height:1200px;
    overflow-y: scroll;
    border-bottom-style: groove;
    border-color: rgb(220, 220, 220);
}

@media all and (max-width: 768px) {
    .timeline-div {
        height:600px;
    }
}
