
.tab-body {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

@media all and (max-width: 768px) {
    .tab-body {
        font-size:70%;
    }
}

body {
    background-image: url("../public/img/noise.jpg");
    min-height: 2000px;
}

.pull-right {
    text-align: right;
    right: 0px;
}

