name: Node.js CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Enable Corepack for Latest Yarn
      run: corepack enable

    - name: Setup Node.js Env
      uses: actions/setup-node@v6
      with:
        node-version: "24"
        check-latest: true
        cache: 'yarn'

    - name: Install dependencies
      run: |
        yarn set version stable
        yarn install --immutable

    - name: Build
      run: yarn build

    # Disable the default Jekyll static site generator
    # when GitHub builds and deploys a site from a source branch
    - name: Disable the default Jekyll static site generator
      run: touch build/.nojekyll

    - name: Deploy by moving build dir to master branch
      uses: s0/git-publish-subdir-action@master
      env:
        REPO: self
        BRANCH: master
        FOLDER: build
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: github.event_name != 'pull_request'
