
    @media all and (max-width: 768px) {
        .navbar-wrapper {
            position: relative !important;
            top: 0px !important;
        }
    }

    @media only screen and (max-width: 500px) {
        .row.featurette {
            font-size:50%;
        }
    }

    #project_video {
        margin-top:50px;
        width:500px;
        height:250px;
        min-width:20%;
        max-width:100%;
        min-height:20%;
        max-height:100%;
    }

    #project_image {
        margin-top:50px;
        min-width:20%;
        max-width:100%;
        min-height:20%;
        max-height:100%;
        overflow:hidden;
    }

    .featurette-divider {
        border-color: #c9c9c9;
    }

    .row.featurette
    {
        position:relative;
        overflow:hidden;
    }

    .flip {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    
    