
#source-link {
    font-size: 130%;
    font-style: oblique;
    color: #0000FF;
}

#proj-brief-text {
    color: #222222;
}

#project_video {
    margin-top:50px;
    width:500px;
    height:250px;
    min-width:20%;
    max-width:100%;
    min-height:20%;
    max-height:100%;
    margin: 0 auto;
    display:block;
}

#project_image {
    margin-top:50px;
    min-width:20%;
    max-width:100%;
    min-height:20%;
    max-height:100%;
    overflow:hidden;
}

#popup-title {
    font-style: italic;
    font-size: 30px;
    text-align: center;
    background-color: gray;
    width: 100%;
}

.clear {
    clear: both;
    float: none;
    margin: 0;
    height: 15px;
    max-width: 800px;
    border-bottom: 1px solid #999;
}

@media all and (max-width: 768px) {
    #source-link {
        font-size: 100%;
    }

    .clear {
        height: 10px;
    }

    #proj-brief-text {
        font-size: 14px;
    }

    #project_video {
        height:100px;
        margin-top:20px;
    }
}
