
#proj-grid {
    margin-top: 5%;
}

.card {
    /*position: absolute;
    transition: 0.2s ease-in-out;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);*/
    /* Add shadows to create the "card" effect */
    width: 100%;
    height: 100%;
}

/* On mouse-over, add a deeper shadow */
/*.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.2, 1.2) !important;
}*/

/* Add some padding inside the card container */
.card > .overlay > .title > h4 {
    position: absolute;
    bottom: 26px;
    left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 170%;
    color: #eeffdd;
}

.card > .overlay > .subtitle > h4 {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: #cccccc;
}

.card > .overlay {
    visibility: hidden;
    position: absolute;
    bottom: 7%;
    float: left;
    width: 92%;
    height: 0%;
    opacity: 0.8;
    background-color: black;
    transition: 0.2s ease-in-out;
}

.card:hover .overlay {
    visibility: visible;
    height: 26%;
}

#source-link {
    font-size: 130%;
    font-style: oblique;
    color: #0000FF;
}

#proj-brief-text {
    color: #222222;
}

#project_video {
    margin-top:50px;
    width:500px;
    height:250px;
    min-width:20%;
    max-width:100%;
    min-height:20%;
    max-height:100%;
    margin: 0 auto;
    display:block;
}

#project_image {
    margin-top:50px;
    min-width:20%;
    max-width:100%;
    min-height:20%;
    max-height:100%;
    overflow:hidden;
}

#popup-title {
    font-style: italic;
    font-size: 30px;
    text-align: center;
    background-color: gray;
    width: 100%;
}

.clear {
    clear: both;
    float: none;
    margin: 0;
    height: 15px;
    max-width: 800px;
    border-bottom: 1px solid #999;
}
